Distance Counting Between Words
---

In [1]:
from sklearn.feature_extraction.text import CountVectorizer
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
### helping function
def cosine_similarity(x, y):
    return np.dot(x, y) / (np.sqrt(np.dot(x, x)) * np.sqrt(np.dot(y, y)))

def euclidean_distance(x, y):   
    return np.sqrt(np.sum((x - y) ** 2))

def l1_normalize(v):
    norm = np.sum(v)
    return v / norm

def l2_normalize(v):
    norm = np.sqrt(np.sum(np.square(v)))
    return v / norm

In [3]:


corpus = [
    'Amitabh bhai khan',
    'Salman khan',
    'Akshay Kumar',
    'Ranvir Singh',
    'Ranvir Kapoor',
    'Anil Ambani',
    'Ratan tata',
    'Amit Saghavi',
    'Kumar Manglam Birla',
    'Azim premji',
    'Lionel Messi',
    'Roger federer',
    'Sachin Tendulkar',
    'Virat kohli',
    'Mary kom',
    'Bill Gates',
    'Steve Job',
    'Mark Zuckerberg',
    'Alan Turing',
    'larry page'    
]

In [143]:
# x1 = l1_normalize(x1)

In [183]:
vectorizer = CountVectorizer()
X = vectorizer.fit_transform(corpus)
# print(vectorizer.get_feature_names())
x1 = np.array(X.todense())
X = pd.DataFrame(X.todense())
D_X = X.copy()
D_X['Name'] = corpus
D_X.head()

,0,1,2,3,4,5,6,7,8,9,...,30,31,32,33,34,35,36,37,38,Name
0,0,0,0,0,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,Amitabh bhai khan
1,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,Salman khan
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Akshay Kumar
3,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,Ranvir Singh
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Ranvir Kapoor

In [145]:
D_X.to_csv("123.csv", index = False)

In [146]:
# for i in range(len(X)):
#     print(corpus[i])
#     print(X.loc[i,:])

In [202]:

pair = []
distance = []
for i in range(len(corpus)):
    for j in range(len(corpus)-1):
        pair.append(str(corpus[i]+"-"+corpus[j]))
        distance.append(euclidean_distance(x1[i],x1[j]))
df = pd.DataFrame()
df['Pair'] = pair
df['Distance'] = distance
df.sort_values(by="Distance", inplace = True)
df.head(n=5)

                                  Pair  Distance
0    Amitabh Bachchan-Amitabh Bachchan       0.0
280                  Mary kom-Mary kom       0.0
260            Virat kohli-Virat kohli       0.0
80         Ranvir Kapoor-Ranvir Kapoor       0.0
300              Bill Gates-Bill Gates       0.0

In [198]:
corpus = ['Amitabh Bachchan','Salman khan','Akshay Kumar','Ranvir Singh','Ranvir Kapoor','Anil Ambani','Ratan tata','Amit Saghavi',
    'Kumar Manglam Birla','Azim premji','Lionel Messi','Roger federer','Sachin Tendulkar','Virat kohli','Mary kom','Bill Gates',
    'Steve Job','Mark Zuckerberg','Alan Turing','larry page']

def find_distance(n=5, data = corpus, Dist_function = euclidean_distance):
    """
    corpus = list which you want to pass
    Dist_function = Function Euclidean or Cosinesimilarity
    n = Number of Minimum distance you want to return
    """
    vectorizer = CountVectorizer()
    X = vectorizer.fit_transform(data)
    X = np.array(X.todense())
    pair = []
    distance = []
    for i in range(len(corpus)):
        for j in range(len(corpus)-1):
            pair.append(str(corpus[i]+"-"+corpus[j]))
            distance.append(Dist_function(X[i],X[j]))
    df = pd.DataFrame()
    df['Pair'] = pair
    df['Distance'] = distance
    df.sort_values(by="Distance", inplace = True)
    print("Return Top {} Minimum Distance".format(n))
    return df[df['Distance'] > 0].head(n)

In [199]:
find_distance(5, data=corpus, Dist_function = euclidean_distance)

Return Top 5 Minimum Distance

                                 Pair  Distance
61         Ranvir Singh-Ranvir Kapoor  1.414214
79         Ranvir Kapoor-Ranvir Singh  1.414214
46   Akshay Kumar-Kumar Manglam Birla  1.732051
154  Kumar Manglam Birla-Akshay Kumar  1.732051
273             Mary kom-Amit Saghavi  2.000000